<!DOCTYPE html>
<html>

<head>
    <title>
        Hiking Trails
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>The best hiking trails are waiting for you here!</h1>

    <p>Our hiking trail app is your ultimate guide to the great outdoors. With a vast database of hiking trails from all
        around the world, you can easily find the perfect trail for your next adventure. Our app includes detailed
        information on each trail, including its difficulty level, distance and estimated time to
        complete. You can also read reviews from other hikers and view photos of the trail to help you plan your trip.
    </p>
    <a href="/trails/new">New Trail</a>


    <!-- <a href=" /trails">All Trails</a> -->

</body>

</html>