* {
  display: flexbox;
  color: darkgoldenrod;

  background-image: url("https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/forest.jpg");
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;





}

body {
  margin: auto;
  padding: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 2fr;
  grid-template-areas:
    "nav"
    "main"
}

body>nav {

  grid-area: nav;
  background-color: #B8C0C2;
  display: grid;
  justify-content: right;


  align-items: center;
  padding: 0 20px 0 30px;
}

nav>img {
  width: 30px;
  object-fit: contain;
  margin-right: auto;
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

nav>a:hover {
  color: black;
  background-color: #424748;
}

nav>a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 40px;

}

table thead th {
  padding: 7px;
  border-bottom: 10px solid;
  color: gray;
}

table td {
  padding: 10px;
  text-align: center;
  color: lawngreen;
  font-weight: 400;
  font-size: medium;
  font-family: Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;

}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: black;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;

}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}


ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
  width: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;

}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

h1 {

  height: 200vh;
  text-transform: capitalize;
  text-align: left;
  font-family: Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;


  font-weight: 900;
  margin: auto;
  font-size: 30px;
  color: #424748;
  padding: auto;
  display: inline-flexbox;

}


h3 {
  position: absolute;
  top: 2;
  bottom: 0;
  left: 25%;
  color: #DADD98;
  text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
  align-content: space-around;
  text-align: center;
  font-size: larger;
  margin: auto;
  padding: auto;
  width: 50%;
  font-family: Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  font-weight: 1200;

}

.pictures {
  position: relative;
  margin-bottom: 400px;
  margin-top: auto;
  padding: auto;
  top: 0;

}

a {
  font-size: large;
  text-align: center;

  font-family: Copperplate, Copperplate Gothic Light, fantasy;

}

img {

  height: 350px;
  width: 350px;
  margin: auto;
  padding: auto;



}



h4 {
  font-size: medium;
  font-family: Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
  color: black;


}