<%- include('../partials/header') %>

    <form id="new-form" action="/trails" method="POST">
        <label for="title" class="form-label">Title:</label>
        <input type="text" name="title" class="form-control" style="color:green;">
        <label for="location">Location:</label>
        <input type="text" name="location" style="color:green;">
        <label for="businessHours">Business Hours:</label>
        <input type="text" name="businessHours" style="color:green;">
        <label for="distance">Distance:</label>
        <input type="text" name="distance" style="color:green;">
        <label for="difficultyLevel">Difficulty Level:</label>
        <input type="text" name="difficultyLevel" style="color:green;">
        <input type="submit" value="Add Trail" style="color:goldenrod;">


    </form>

    <%- include('../partials/footer') %>